[data-markdown-editor-controls] {
  display: none;
}

.markdown-editor-controls {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #ececec;
  border: 1px solid #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.markdown-editor-controls > .separator {
  width: 1px;
  height: 35px;
  background: #333333;
}

.markdown-editor-controls > button {
  flex: 0 0 42px;
  height: 35px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.markdown-editor-controls > button:not([disabled]) {
  cursor: pointer;
}

.markdown-editor-controls > button:hover:not([disabled]) {
  background: #404040;
  color: #ffffff;
}

.markdown-editor-controls > button.active {
  background: #2b5e7d;
  color: #ffffff;
}

.markdown-editor-controls > button .icon {
  vertical-align: -5%;
}

.markdown-editor-controls > button .text-heading {
  margin: 0 1px 0 2px;
  font-family: "Palatino Linotype", serif;
  font-size: 20px;
  vertical-align: 15%;
}

.markdown-editor-controls > button .text-heading + sub {
  font-size: 13px;
  vertical-align: 7.5%;
}

.markdown-editor-controls + textarea {
  margin-top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
