.issue-details {
  display: flex;
  flex-wrap: wrap;
  margin: -4px -20px -24px;
}

.issue-details > div {
  flex: 0 1 auto;
  margin: 0 20px 24px;
  min-width: 145px;
  font-size: 15px;
  white-space: nowrap;
}

.issue-details > div > h4 {
  margin: 0 0 8px;
}

.issue-details .icon {
  margin-right: 2px;
}

@media (max-width: 850px) {
  .split-wrapper.issue-edit-triple-select {
    flex-wrap: wrap;
  }

  .split-wrapper.issue-edit-triple-select > div {
    flex: 1 1 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.issue-description h4 {
  margin: 20px 0;
  font-size: 30px;
}

.issue-description h5 {
  margin: 20px 0;
  font-size: 23px;
}

.issue-description h6 {
  margin: 20px 0;
  font-size: 18px;
}
