.issue-tag:before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 2px;
  border-radius: 6px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.75) inset, 0 0 3px rgba(0, 0, 0, 0.15) inset;
}

option.issue-tag:before {
  margin-left: -1px;
  margin-right: 5px;
}

.issue-status-open:before {
  background-color: #d9d9d9;
}

.issue-status-in-progress:before {
  background-color: #dfd925;
}

.issue-status-ready-to-test:before {
  background-color: #0cbad5;
}

.issue-status-blocked:before {
  background-color: #f72319;
}

.issue-status-finished:before {
  background-color: #00d000;
}

.issue-status-rejected:before {
  background-color: #939393;
}

.issue-priority-low:before {
  background-color: #00d000;
}

.issue-priority-medium:before {
  background-color: #dfd925;
}

.issue-priority-high:before {
  background-color: #f72319;
}

.issue-scale-tiny:before {
  background-color: #00d000;
}

.issue-scale-small:before {
  background-color: #a2db04;
}

.issue-scale-medium:before {
  background-color: #dfd925;
}

.issue-scale-large:before {
  background-color: #f28d0a;
}

.issue-scale-massive:before {
  background-color: #f72319;
}

.issue-id {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.issue-details {
  display: flex;
  flex-wrap: wrap;
  margin: -4px -20px -24px;
}

.issue-details > div {
  flex: 0 1 auto;
  margin: 0 20px 24px;
  min-width: 145px;
  font-size: 15px;
  white-space: nowrap;
}

.issue-details > div > h4 {
  margin: 0 0 8px;
}

.issue-details .icon {
  margin-right: 2px;
}

#New-Issue-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 0.275s ease;
}

#New-Issue-Inner {
  width: 100%;
  max-width: 1050px;
  max-height: 100%;
  overflow-y: auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
}

#New-Issue-Title {
  display: flex;
  align-items: baseline;
  margin: 25px 25px 1px;
}

#New-Issue-Title h2 {
  flex: 1 0 auto;
  margin: 0 10px 0 0;
}

#New-Issue-Title span.icon {
  margin-left: 10px;
  font-size: 28px;
  cursor: pointer;
}

#New-Issue-Types {
  display: flex;
  padding-top: 25px;
  padding-right: 21px;
}

#New-Issue-Types > a {
  flex: 1 1 0;
  margin: 0 4px 25px 25px;
  padding: 18px 16px 15px 15px;
  border-radius: 8px;
  color: #1c1c1c;
  font-size: 22px;
  text-decoration: none;
  transition: background-color 0.125s ease;
}

:root {
  --issue-type-hover-color: #ffffff;
}

#New-Issue-Types > a:hover {
  background-color: var(--issue-type-hover-color);
}

#New-Issue-Types span.icon {
  display: block;
  font-size: 30px;
  text-align: center;
}

#New-Issue-Types p {
  text-align: center;
  margin: 16px 0 0;
}

@media (max-width: 1024px) {
  #New-Issue-Types {
    flex-wrap: wrap;
  }
  
  #New-Issue-Types > a {
    flex: 0 0 175px;
  }
}
